/* ==================================================
   Buttons
================================================== */

.button {
  	display: inline-block;
  	margin-bottom: 0;
  	padding: 13px 26px;
  	-webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
  	background-color: #3C3F45;
  	color: #23262C;
  	vertical-align: middle;
  	text-align: center;
  	text-transform: uppercase;
  	font-weight:500;
  	font-size: 16px;
  	cursor: pointer;
	border:none;
  
	-webkit-transition: all 0.1s linear;
       -moz-transition: all 0.1s linear;
         -o-transition: all 0.1s linear;
            transition: all 0.1s linear;
  	*border: 0;
  	*zoom: 1;
}

/*--- Hover/Active/Focus State ---*/

.button:hover,
.button:active,
.button:focus {
	background-color: #DE5E60;
	color:#000000;
}

/* --- Button Sizes --- */

.button.button-large {
  	padding: 16px 30px;
  	font-size: 18px;
}

.button.button-small {
  	padding: 8px 18px;
  	font-size: 14px;
}

.button.button-mini {
  	padding: 4px 12px;
  	font-size: 12px;
}

.button.button-block {
	padding-right: 0;
	padding-left: 0;
	width: 100%;	
}

.button + .button {
	margin-left: 10px;	
}

/* ==================================================
   Accordion & Toggle
================================================== */

.accordion {
  	margin-bottom: 20px;
}

.accordion-group {
  	margin-bottom: 4px;
  	border: none;
  	-webkit-border-radius: 0;
       -moz-border-radius: 0;
          	border-radius: 0;
}

.accordion-heading {
  	border-bottom: 0 none;
}

.accordion-heading .accordion-toggle {
	position: relative;
  	display: block;
  	padding: 10px;
	background:#000000;
    opacity:0.5;
	color: #ffffff;
	font-size: 18px;
	font-weight: 600;
	
	-webkit-transition: all 0.1s linear 0s;
	-moz-transition: all 0.1s linear 0s;
	-ms-transition: all 0.1s linear 0s;
	-o-transition: all 0.1s linear 0s;
	transition: all 0.1s linear 0s;
}

.accordion-toggle {
  	cursor: pointer;
}

.accordion-heading:hover .accordion-toggle,

.accordion-heading:hover .accordion-toggle.inactive {
	background:#ffffff;/*hover color*/
    opacity:0;
	color:#FFFFFF;
}

.accordion-heading .accordion-toggle.active {
	background:#DE5E60;
	color:#FFFFFF;
}

.accordion-heading .accordion-toggle.inactive {
	background:#3C3F45;
}

.accordion-heading.accordionize .accordion-toggle span,
.accordion-heading.togglize .accordion-toggle span {
    position: absolute;
    top: 50%;
    right: 20px;
    margin: -8px 0 0 0;
    color: #000000;
    font-size: 18px;
	
	-webkit-transition: all 0.1s linear 0s;
	-moz-transition: all 0.1s linear 0s;
	-ms-transition: all 0.1s linear 0s;
	-o-transition: all 0.1s linear 0s;
	transition: all 0.1s linear 0s;
}

.accordion-heading:hover .accordion-toggle span {
	color: #FFFFFF;
}

.accordion-heading .accordion-toggle.active span,
.accordion-heading:hover .accordion-toggle.inactive span {
	color: #FFFFFF;	
}

.accordion-heading.accordionize .accordion-toggle.active span,
.accordion-heading.togglize .accordion-toggle.active span {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}

.accordion-heading.togglize .accordion-toggle span {
	margin: -8px 0 0 0;
	font-size: 18px;
}

.accordion-heading.togglize .accordion-toggle.active span {
	opacity:0;
	filter: alpha(opacity=0);
}

.accordion-heading.togglize .accordion-toggle.active span + span {
	opacity:1;
	filter: alpha(opacity=100);
}

.accordion-inner {
	background: #26292E;
  	padding: 16px 20px;
	border: none;
}
